<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- 일반 권한 -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- 위험 권한 gps로 내 위치를 확인하고 싶을때의 권한/ 이 권한을 쓰고 싶으면 사용자한테 요청하는 것 (위험권한) -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.OneTeamProject"
        tools:targetApi="31">
        <activity
            android:name=".activity.EmergencyPlaceNumberActivity"
            android:exported="false" />
        <activity
            android:name=".activity.StartActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.SignUpActivity"
            android:exported="false" />
        <activity
            android:name=".activity.LoginActivity"
            android:exported="false" />


        <activity
            android:name=".activity.MyPageActivity"
            android:exported="false" />
        <activity
            android:name=".sub.SubActivity"
            android:exported="false" />
        <activity
            android:name=".main.MainActivity"
            android:exported="true">

        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBNxEfcUhFjkStLymuLC48mN5vbyYV6508" />
    </application>

</manifest>